<form method="POST" class="mt-5" >
    <div class="form-group">
        <label for="inputTitle">Заголовок</label>
        <input type="text"
               value="<%=book.title%>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>
    <div class="form-group">
        <label for="inputDescription">Описание</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDescription"
        ><%=book.description%></textarea>
    </div>
    <div class="form-group">
        <label for="inputAuthors">Авторы</label>
        <input type="text"
               value="<%=book.authors%>"
               name="authors"
               class="form-control"
               id="inputAuthors">
    </div>
    <div class="form-check">
        <input type="checkbox"
               name="favorite"
               class="form-check-input"
               id="inputFavorite"
               <%=book.favorite === 'true' ? 'checked' : ''%>>
        <label for="inputFavorite" class="form-check-label">В избранном</label>
    </div>
    <div class="form-group">
        <label class="form-label" for="inputFileCover">Файл оболожка</label>
        <input type="text"
               value="<%=book.fileCover%>"
               name="fileCover"
               class="form-control"
               id="inputFileCover">
    </div>
    <div class="form-group">
        <label class="form-label" for="inputFileName">Имя файла</label>
        <input type="text"
               value="<%=book.fileName%>"
               name="fileName"
               class="form-control"
               id="inputFileName">
    </div>
    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
