<%- include("../layouts/header", {title: title}) %>
<%- include("../layouts/menu") %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text">Описание: <%= book.description %></p>
                <p class="card-text">Автор: <%= book.authors %></p>
                <p class="card-text">В избранном: <%= book.favorite === "true" ? "да" : "нет" %></p>
                <p class="card-text">Обложка: <%= book.fileCover %></p>
                <p class="card-text">Имя файла: <%= book.fileName %></p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book.id %>" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div id="list" class="list-group"></div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="username">username</label>
            <input
                    placeholder="username"
                    type="text"
                    id="username"
                    class="form-control"
            >
        </div>
        <div class="form-group">
            <label for="text">message</label>
            <textarea
                    placeholder="message"
                    class="form-control"
                    id="text"
            ></textarea>
        </div>
        <button type="submit" id="send-room" class="btn btn-primary">room</button>
    </div>
</div>

<script>
    const roomName = location.pathname.split("/").pop();
    const socket = io.connect("/", {query: `bookId=<%= book.id %>%>`, withCredentials: true});
    const boxList = document.querySelector("#list");
    const inputUsername = document.querySelector("#username");
    const inputText = document.querySelector("#text");
    const sendRoom = document.querySelector("#send-room");

    const getTmp = (msg) => {
        return `
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <small>${msg.username}</small>
                    </div>
                    <p class="mb-1">${msg.text}</p>
                </div>
        `;
    };

    socket.on("message-to-room", (msg) => {
        console.log(1111, msg)
        const div = getTmp(msg)
        boxList.insertAdjacentHTML("beforeend", div)
    });

    sendRoom.addEventListener("click", () => {
        socket.emit("message-to-room", {
            username: inputUsername.value,
            text: inputText.value,
        })
    })
</script>

<%- include("../layouts/footer") %>
