<%-include("../layouts/header", {title})%>
<%-include("../layouts/menu")%>

<h1><%=title%></h1>

<p>
    <b>ID:</b>         <%=user.id%><br />
    <b>Login:</b>      <%=user.login%><br />
    <b>Username:</b>   <%=user.username%><br />
    <b>Email:</b>      <%=user.email%><br />
</p>

<%-include("../layouts/footer")%>